@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    color: hsl(8, 94%, 72%);
    background-color: hsl(219, 30%, 13%);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 50vh;
    text-align: center;
    font-size: 1.6rem;
}

.component {
    min-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav h1 {
    letter-spacing: 1rem;
    margin: 2rem 0rem;
    font-size: 3rem;
    font-family: 'Lobster Two', 'cursive';
}

#add-book-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#status,
.user-input>input {
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    color: hsl(8, 94%, 72%);
    background-color: hsl(219, 27%, 22%);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 30px 30px 2px 30px;
    border: 1px solid hsl(8, 94%, 72%);
    outline: none;
}

.user-input {
    margin: 1rem;
}

/* Change autofill text color */
input:-webkit-autofill {
    -webkit-text-fill-color: hsl(8, 94%, 72%) !important;
}

/* Change the autofill bakground color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* defining box-shadow for compatibility */
    box-shadow: 0 0 0 30px hsl(219, 27%, 22%) inset !important;
    -webkit-box-shadow: 0 0 0 30px hsl(219, 27%, 22%) inset !important;
}

#add-book-btn {
    font-size: 1.2rem;
    color: hsl(8, 94%, 72%);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: none;
}

#add-book-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#books-wrapper {
    width: 80%;
    overflow-x: auto;
}

#books {
    border-collapse: collapse;
}

#books thead {
    font-weight: bold;
    border-bottom: 1px solid hsl(8, 94%, 72%);
}

#books td {
    padding: 1rem;
    font-size: 1.8rem;
}

.btn {
    font-size: 1.4rem;
    padding: 0.4rem 2rem;
    color: hsl(219, 30%, 13%);
    background-color: hsl(8, 94%, 72%);
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}